<div id="<%= dom_id branch %>">
  <p>
    <strong>Name:</strong>
    <%= branch.name %>
  </p>

  <p>
    <strong>Direction:</strong>
    <%= branch.direction %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= branch.telephone %>
  </p>

</div>
